
*{
    padding: 0;
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
}
body{
    direction: rtl;
  background-color:   rgb(218, 202, 184);
height: 100vh;
width: 100%;
display: flex;

}
.container{
    height: 100%;
    width: 100%;  
    border-radius: 20px;
}
 
.contact1 {
    direction: ltr;
    display: flex; /* استخدم flex بدلاً من grid لجعل العناصر في نفس السطر */
 align-items: center;
  justify-content: space-between; 
  max-width: 95%;

 
}

.email1 {
    margin-right: 10px; 

}

.phon1 {
    margin-right: 950px; /* إضافة مسافة بين العناصر */
 

}
.labuton{
    background-color:   rgb(218, 202, 184);
    color:    rgb(218, 202, 184);
    margin-left: 300px;
    margin-right: 0;
}
.labuton button {
    background-color:   rgb(218, 202, 184);
  
    width: 150px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer; /* تغيير شكل المؤشر عند المرور على الزر */
   
}
.befornav{
    padding: 5px 0;
    position: relative;
  margin-bottom: 0;
    background-color: #000;

}
.befornavinner{
    overflow: hidden;
}
.befornavinner ul{
 padding: 5px 0;
list-style: none;
display: flex;
white-space: nowrap;
margin: 0;

}
.befornavinner ul li{
    animation-name:x;
    animation-timing-function: linear;
    animation-iteration-count: infinite
   
}
@keyframes x{
    0%{
text-indent: 100%;
    }
    100%{
text-indent: -100%;
    }
}

a {
    text-decoration: none;
    transition: color .2s;
    color: #000;
}
ul, li {
   margin-left: 90px;
    padding: 0;
    list-style: none;
}
nav{
    display: flex;
    margin: auto;
     padding: 10px 0; 
    align-items: center;
    display: flex;
 
   /* height: 50px; */

}
nav .logo{
    margin-left: 40px;
    color: rgb(11, 15, 15);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;

}


nav ul li{
display: inline-block;
    margin: 0;
  
}
nav ul li a{
color: #000;
text-decoration: none;
font-size: 20px;
font-weight: 500;
}
nav ul li a:hover{

  color: rgb(71, 77, 82);
}
.content{
display: flex;

align-items: center;
height: 70%;
width: 100%;
padding: 30px;
margin-top: 50px;

 /* justify-content: space-between;   */


}
.helpbutton{
    margin: 10px;
}
.personshep{
    background-color:   rgb(218, 202, 184);
 border: 0;
 margin: 10px;
}
.topnav .search-container {
    float: right;
 visibility: hidden;
 
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
     margin-right: 500px;
  }
  .search-container:hover{
visibility: visible;
  }
  
  .topnav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 17px;
 
    background-color:   rgb(218, 202, 184);
    font-size: 20px;
    border: 20px;
    cursor: pointer;
    visibility:visible;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;

  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  .showimg .image img{
  height: 700px;
    max-width: 100%;

    }
    /* max-height: 60%; */
    .showimg {
        padding: 0;
     
        max-width: 100%; /* اجعلها تأخذ عرض كامل */
        margin-top: 0 ; /* المركز التلقائي للحاوية */
    }
    
    .image {

        width: 100%; /* اجعلها تأخذ عرض كامل */
        margin: 0; /* صفر الهوامش */
        padding: 0; /* صفر الحشوة */
    }
    
    .image img {
        width: 100%; /* اجعل الصورة تأخذ عرض الحاوية بالكامل */
       
      
    }
    .box1perfumculecshen1{
      max-width: 1100px; 
      display: flex;
      
       padding: 20px;
      display: grid;
      margin-top: 300px;
  column-gap: 70px;

    }
    .nameofperpheom1{
      grid-column: 1/4;
      font-size: 25px;
    }
    .nameofperpheom{
      grid-column: 1/4;
    margin-bottom: 20px;
    align-items: end;
    }
    .nameofperpheom h2{
      margin-right: 700px;
      border-bottom:  2px solid #000;
      width: 300px;
      font-size: 35px;
    

    }
    .box1perfum1,
    .box1perfum2,
   .box1perfum3{
    width: 400px;
    height: 400px; 
  
    /* border-radius: 10px; Rounded corners */
    padding: 20px; /* Inner padding */
 
    text-align: center; 

    }

    .box1perfum1{
      margin-right: 60px;
    }
    .box1perfumculecshen1 .box1perfum1 .image,
    .box1perfumculecshen1 .box1perfum2 .image
    .box1perfumculecshen1 .box1perfum3 .image{

      margin: 5px;
      height: 250px;
      border-radius: 50%;
  
    }
    .box1perfumculecshen1 .box1perfum1 img,
    .box1perfumculecshen1 .box1perfum2 img,
    .box1perfumculecshen1 .box1perfum3 img{
      margin: 5px;
margin-bottom: 10px;
margin-top: 0;
height: 250px;


object-fit: cover;
border: 2px solid #000;
width: 300px;

    }
    .contrnerofbox{
      max-width: 1100px; 
     display: flex;
     
      padding: 20px;
     display: grid;
     margin-top: 300px;
 column-gap: 1px;
     
     } 
    
     
     .contrnerofbox .box1,
     .contrnerofbox .box2,
     .contrnerofbox .box4,
     .contrnerofbox .box3 ,
     .contrnerofbox .box5,
     .contrnerofbox .box6, 
     .contrnerofbox .box7{
         width: 220px;
         height: 180px; 
           /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); Shadow for some depth */
         /* background-color: rgb(247, 244, 241); */
         border-left: 1px solid rgb(100, 98, 98);
         /* border-radius: 10px; Rounded corners */
         padding: 20px; /* Inner padding */
      
         text-align: center; /* Center text if needed */
     }
     .contrnerofbox .com{
         grid-column: 1/8;
     }
     .com h2{
      margin-right: 100px;
      width: 300px;
      font-size: 35px;
    
     }
     .contrnerofbox .box1 .images,
     .contrnerofbox .box2 .images,
     .contrnerofbox .box3 .images,
     .contrnerofbox .box4 .images,
     .contrnerofbox .box5 .images,
     .contrnerofbox .box6 .images,
     .contrnerofbox .box7 .images{
 margin: 5px;
 height: 100px;
 border-radius: 50%;
 
 
     }
     .contrnerofbox .box1 img,
     .contrnerofbox .box2 img,
     .contrnerofbox .box3 img,
     .contrnerofbox .box4 img,
     .contrnerofbox .box5 img,
     .contrnerofbox .box6 img,
     .contrnerofbox .box7 img{
 margin: 5px;
 margin-bottom: 10px;
 margin-top: 0;
 height: 100%;
 
 border-radius: 50%;
 object-fit: cover;
 border: 2px solid #000;
 width: 100px;
 
     } 
     
     .botte2 button{
         background-color: #000;
         color: aliceblue;
     font-size:10px;
     padding: 2.5px;
     border-radius: 5px;
     cursor: pointer;
     width: 150px;
     /* border: 2px solid transparent; */
     }
     .botte2 button:hover{
         cursor: pointer;
     }
     .checked {
         color: orange;
       }
 
       .conectinformation{
        display: grid;
        /* background-color: rgb(207, 199, 191); */
        margin-top: 300px;
        height: 200px;
        
              }
              .contact{
                grid-column: 2/3;
              }
        .importantlink{
           grid-column: 3/4; 
        }
        .logo2{
            grid-column: 1/2;
        }
        
        
        
        .logo2 .logo1{
         color: #0a0707;
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        grid-column: 3/4;
        
        }
.botte button{
  background-color: #000;
  color: aliceblue;
  height: 25px;
  width: 250px;
font-size:10px;
padding: 2.5px;
border-radius: 5px;
cursor: pointer;
/* border: 2px solid transparent; */
}
.botte button:hover{
  cursor: pointer;
}
